<div class="art-card" id='art-card-<%= artwork.id %>' data-artwork-id='<%= artwork.id %>'>
  <div class='art-card-container'><h5 class='score'>Score:  <%= score (artwork) %> </h5>
    <%= magnific_img_tag (artwork) %>
    <h4><%= artwork.title %></h4>
    <h5><%= artwork.artist %></h5>
  </div>
<%= up_vote(artwork) %>
  <%= down_vote(artwork) %>
</div>