<div class="art-card card mx-auto" id='art-card-<%= artwork.id %>' data-artwork-id='<%= artwork.id %>'>
  <div class='art-image-container'>
    <%= magnific_img_tag (artwork) %>
  </div>
  <div class="card-body">
    <%= link_to artwork do %>
        <h4 class="card-title"><%= artwork.title %></h4>
    <% end %>
    <h5 class="card-title"><%= artwork.artist %></h5>
    <h6>Score:  <%= score (artwork) %> </h6>
    <h6>Location:  <%= artwork.gallery&.name || 'gallery missing' %> </h6>
  </div>
</div>
