<%= form_with(model: artwork, local: true, id: 'image-submit-form') do |form| %>
  <% if artwork.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(artwork.errors.count, "error") %> prohibited this artwork from being saved:</h2>

      <ul>
      <% artwork.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :artwork_title %>
  </div>

  <div class="field">
    <%= form.label :artist %>
    <%= form.text_field :artist, id: :artwork_artist %>
  </div>

  <div class="field">
    <%= form.label :date_painted %>
    <%= form.text_field :date_painted, id: :artwork_date_painted %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location, id: :artwork_location %>
  </div>

    <div class='field'>
      <%= form.label :art_image %>
      <%= form.file_field :art_image, id: 'art_image' %>
    </div>

    <%= hidden_field_tag 'crop_coords[x1]' %>
    <%= hidden_field_tag 'crop_coords[y1]' %>
    <%= hidden_field_tag 'crop_coords[x2]' %>
    <%= hidden_field_tag 'crop_coords[y2]' %>
    <%= hidden_field_tag 'crop_coords[width]' %>
    <%= hidden_field_tag 'crop_coords[height]' %>

    <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script>
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#target').attr('src', e.target.result);
        $('#preview').attr('src', e.target.result);
        $('#target').Jcrop({
            onChange: showPreview,
            onSelect: handleSelectComplete,
            aspectRatio: 1
          }
        );
      };

      reader.readAsDataURL(input.files[0]);
    }
  }

  function showPreview(coords) {
    var rx = 100 / coords.w;
    var ry = 100 / coords.h;

    $('#preview').css({
      width: Math.round(rx * 500) + 'px',
      height: Math.round(ry * 370) + 'px',
      marginLeft: '-' + Math.round(rx * coords.x) + 'px',
      marginTop: '-' + Math.round(ry * coords.y) + 'px'
    });
  }

  function updateSubmitImageForm(coords) {
    $('#crop_coords_x1').val(coords.x);
    $('#crop_coords_y1').val(coords.y);
    $('#crop_coords_x2').val(coords.x2);
    $('#crop_coords_y2').val(coords.y2);
    $('#crop_coords_width').val(coords.w);
    $('#crop_coords_height').val(coords.h);
  }

  function handleSelectComplete(coords) {
    showPreview(coords);
    updateSubmitImageForm(coords);
  }


  $('#art_image').change(function () {
    readURL(this);
  });
</script>
