<p id="notice"><%= notice %></p>

<h1>Artworks</h1>

<!--FIXME doesn't seem right to reference params in view-->
<div class='row'>
  <div class='col-md-1'>
    <%= form_tag artworks_url, method: :get, id: 'sort-by-form' do %>
        <%= label_tag 'sort_by', 'Sort by:' %>
        <%= select_tag 'sort_by', options_for_select(
            { 'Score': 'cached_votes_score DESC',
              'Title': 'title',
              'Artist': 'artist',
              'Date added': 'created_at' },
            params[:sort_by]
        ), include_blank: true,
                       onchange: 'this.form.submit()' %>
    <% end %>
  </div>
</div>

<br>
<div class='art-card-grid'>
  <% @artworks.each_slice(6) do |artworks| %>
      <div class="row">
        <% artworks.each do |a| %>
            <div class="col-md-2" align='center'>
              <%= render 'art_card', artwork: a %>
            </div>
        <% end %>
      </div>
  <% end %></div>

<br>

<%= link_to 'New Artwork', new_artwork_path %>
