<div class="panel panel-default art-card">
  <div class="panel-body">
  <%= image_tag art_work.art_image.thumb.url, size: 200, alt: 'image missing' %>
    <h4><%= art_work.title %></h4>
    <h5 ><%= art_work.artist %></h5>
    <%= link_to 'Show', art_work, class: 'btn btn-primary' %>
    <%= link_to 'Edit', edit_art_work_path(art_work) %>
    <%= link_to 'Destroy', art_work, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>