<!DOCTYPE html>
<html>
<head>
  <title>Artswipe3</title>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Spectral+SC|Vollkorn+SC" rel="stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<% if admin_signed_in? %>
    <%= render 'layouts/admin/navbar' %>
<% else %>
    <%= render 'layouts/navbar' %>
<% end %>
<%= render '/flash' %>
<%= content_for?(:content) ? yield(:content) : yield %>
<%= render 'layouts/footer' %>

</body>
</html>

